In [1]:
# import stuff we might need
# this notebook is for gathering other data for our analyses

import os
import sys
import csv
import math
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as stats

In [2]:
csvpth = os.path.join("..", "Raw Data", "Drivers_by_States.csv")
driverdf = pd.read_csv(csvpth)
driver_clean_df = driverdf[["STATE","2015"]].dropna(axis = 0)
driver_clean_df.drop(labels = 51, inplace = True)
driver_clean_df
replace_dict = {"Alaska 2/" : "Alaska", "Hawaii 2/" : "Hawaii", "Dist. of Col." : "District of Colombia"}
driver_clean_df["STATE"].replace(replace_dict, inplace = True)
driver_clean_df

                   STATE         2015
0                Alabama   3,907,038
1                 Alaska     533,227
2                Arizona   4,978,762
3               Arkansas   2,119,578
4             California  25,532,920
5            Colorado      3,974,521
6            Connecticut   2,566,673
7               Delaware     742,524
8   District of Colombia     455,602
9                Florida  14,262,715
10               Georgia   6,906,191
11                Hawaii     909,797
12                 Idaho   1,135,009
13              Illinois   8,462,193
14               Indiana   4,467,848
15                  Iowa   2,224,130
16                Kansas   2,028,657
17              Kentucky   3,021,266
18             Louisiana   3,357,091
19                 Maine   1,019,879
20              Maryland   4,185,752
21       Massachusetts     5,040,662
22              Michigan   7,104,484
23             Minnesota   3,351,430
24           Mississippi   1,988,396
25              Missouri   4,213,302
26               Montana     781,427
27              Nebraska   1,394,301
28                Nevada   1,835,511
29         New Hampshire   1,074,766
30            New Jersey   6,179,318
31            New Mexico   1,467,782
32            New York    11,689,839
33        North Carolina   7,160,621
34          North Dakota     545,027
35                  Ohio   7,923,439
36              Oklahoma   2,621,733
37  Oregon                 2,808,548
38          Pennsylvania   8,942,967
39          Rhode Island     745,470
40        South Carolina   3,683,824
41          South Dakota     655,707
42             Tennessee   4,621,401
43                 Texas  15,879,876
44                  Utah   1,913,564
45               Vermont     548,799
46              Virginia   5,820,209
47            Washington   5,516,134
48         West Virginia   1,167,346
49             Wisconsin   4,194,759
50               Wyoming     422,450

In [5]:
driver_clean_df.to_csv(os.path.join("..", "Cleaned Data", "driver_states_clean.csv"),index = False)